* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    font-family: 'arial';
    color: #00dbff;
    font-size: 15px;
    line-height: 1.5em;
    background-image: url(chatb.jpg);
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 80%;
    height: vh;
    margin: auto;
}
.titleBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15em;
    height: 5vh;
}

.messages{
    display: flex;
    align-items:flex-end;
    border-color: #ca0eca;
    border-style: solid;
    margin-top: 1em;
    height: 50vh;
    padding: 2em;
    
}

.message{
    margin-top: 1.5em;
    list-style: none;
}

.comment{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    height: 10vh;
}

#utilisateur {
    width: 25%;
}

#message {
    width: 55%;
}
input.envoyer {
    background: #f44dff;
    color: #000000;
    border-radius: 7px;
    width: 75px;
}

.logout{

    background: #f44dff;
    color: #000000;
    margin-left: 93%;
    border-radius: 7px;
    width: 75px;

}