* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  html{
      padding:8px;
  }
  
  a {
    text-decoration: none;
  }
  a:hover,li:hover {
    text-decoration: underline;
    background-color: rgb(rgba(237, 241, 239, 0.787), green, blue);
  }
  ul {
    list-style-type: none;
  }
  
  nav {
    max-width: 645px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    cursor: pointer;
  
  }
  img{
    margin: 0 auto;
  }
  
  .nav_items {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    margin-top: 20px;
  }
  .img-1{

    width: 91%;
  }
  .links{
      margin-top: 20px;
  }
  .nav_items_second{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .link {
    margin: 15px;
    color: black;
  }
  .intro{
      width: 450px;
  }
  .article{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-top: 30px;
  
  
  }
  .card{
      border: 1px Black solid;
      margin-right: 16px;
      padding: 16px;
      font-family: sans-serif;
      margin-bottom: 30px;
      width: 22vw;
  }
  .card_title{
      font-weight: bold;
  
  }
  .lastPrice{
      color: grey;
  }
  .price{
      font-weight: bold;
      margin: 5px 0;
  
  }
  .price span {
      font-weight: bolder;
      text-decoration: underline;
  }
  .savingPrice{
      color: green;
  }