*{
    box-sizing: border-box;
}
body {
    background-color: black;
    justify-content: space-between;
    
  }

  .burgerlist ul{  
    margin-top: 249px;
    list-style: none;    
  }

  li.second{

    margin: 53px 0px;
    color: #ffffff;
  }
  
  .burgerlist ul li{

    font-size: 24px;
    color: #ffffff;
  }
  header{

    display: flex;
    justify-content: space-between;
  }
  
  .closebutton{

    font-size: 46px;
    color: pink;
   
  }
  img{
    width: 134px;
  }
  

 