*{

   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: black;
    position: relative;

}
.contrainer {
    width: 90%;
    margin: auto;
}


/*header*/
header{
    display: flex;
    justify-content: space-between;
    margin-right: 69px;
    
}

.barre li {
    list-style: none;
    padding: 41px;
    
}
.barre li a{
    color: white;
    text-decoration: none;
}
.barre a li:hover{
    text-decoration: underline;
    color:#F275A7; 
}

.barre{

    display: flex;
    margin-left: 58em;
}

.logo{

    width: 202px;
    height: 84px;
    margin: 29px;
}

div.bar{

    display: flex;
}
/*header*/  


/*header's button*/
button{

    background-color: #F275A7;
    padding: 11px;
    width: 115px;
    margin-top: -9px;
    font-family: bold;
    display: block;
}
.button :hover{

    color: #ffffff;
}
.button li{

    list-style: none;
    padding: 41px;
}

/*header's button*/




/*second navigation barre*/
img{
    margin-left: 144px;
    width: 1546px;
}

h3{
    color: #F275A7;
    font-size: 40px;
    margin-left: 218px;
}

h1{
    margin-left: 218px; 
    font-size: 80px;
    color: white;
}

h5{
    margin-left: 218px;
    font-size: 21px;
    color: white;
    margin-top: 10px;
}

/*second navigation barre*/




/*side barre*/
.sidebarre{
    width: 33px;
    height: 100px;
    background-color: #F275A7; 
    position: fixed;
    top: 50%;
    
}

.twitter{
    margin-left: 9px;
    width: 19px;
    margin-top:2px ;
    margin-bottom: 2px;
}

.facebook{
    margin-left: 9px;
    width: 19px;
}
.instagram{
   width: 25px;
   margin-left: 6px;
   margin-top: 9px;
}

/*side barre*/


/*about me*/
.barre a {

      color: white;
      text-decoration: none;
}
#firstpart{

    display: flex;
    flex-direction: row;
}

.aboutme{
    font-size: 35px;
    margin-top: 123px;
}
p{
    color:white;
    margin-left: 218px; 
    margin-top: 10px;
}

.maphoto{

    width: 731px;
    margin-top: 146px;
    margin-left: 313px;
}
/*about me*/



/*skills*/
#skills{
    font-size: 35px;
    margin-top: 123px;
}


/*skills*/




/*Cards*/
.cards{
    border-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 131px;
    align-items: center;
}

.clicker {
    width: 288px;
    height: 190px;
    color: #F275A7;
    outline: none;
    cursor: pointer;
    font-size: 170px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    }

    .clicker:hover{
        color: #F89CC1;
        border: none;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    
    .hiddendiv{
        display:none;
        height:200px;
        color: #f8f8f8;
        font-size: 20px;
    }

    .clicker:focus + .hiddendiv{
        display: flex;
        flex-direction: column;
        
    }

/*Cards*/



/*progress  barres*/
.progressbarre{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.progress{
    color: black;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

  .title {
      width: 300px;
      height: 60px;
      background-color: pink;
  }

  .containerbarres{

    width: 40%;
    margin-top: 4%;
    

  }
  .html{
      border: 2px solid pink;
      height: 36px;
      border-radius: 5px;
      background-color:white;
  }
  .htmlbar {
      background: pink;
      height: 32px;
      width: 50%;
      padding-left: 10em;
      padding-top: 8px;
      font-weight: bolder;
      border-radius: 5px 0px 0px 5px;

  }




  .css{
    border: 2px solid pink;
    height: 36px;
    border-radius: 5px;
    background-color:white;
    margin-top: 3%;
}
.cssbar {
    background: pink;
    height: 32px;
    width: 50%;
    padding-left: 10em;
    padding-top: 8px;
    font-weight: bolder;
    border-radius: 5px 0px 0px 5px;

}
 



.design{
    border: 2px solid pink;
    height: 36px;
    border-radius: 5px;
    background-color:white;
    margin-top: 3%;
}
.designbar {
    background: pink;
    height: 32px;
    width: 50%;
    padding-left: 10em;
    padding-top: 8px;
    font-weight: bolder;
    border-radius: 5px 0px 0px 5px;

}

  
     
/*progress  barres*/


/*project*/
  .project h1{
    font-size: 35px;
    margin-top: 123px;
    
  }
/*project*/







@media(MAX-width: 375px) { /*for phone*/
    
    
    img{
        margin-left: -28px;
    }

    .barre li{

        display: none;
    }
     
    h1{
        font-size: 168px;
    }

    h5{
        
        font-size: 48px;
        font-size: 47px;
    }
    .logo{
        width: 275px;
        height: 138px;
    }

    .aboutme {
        font-size: 87px;
    }

    .maphoto{
        width: 514px;
    }
    p {
        font-size: 35px;
    }
    .button{
        display: none;
    }
    

    .skills{
        font-size: 87px;
    }
}




@media(MAX-width: 768px) { /*Tablette*/

    .skills{
        font-size: 87px;
    }

    .aboutme {
        font-size: 87px;
    }

    .barre li a{

        font-size: 30px;
    }
}






.tapper{
    width: 16ch;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 3s steps(35), blink .5s infinite;
    border-right: 3px solid;
    border-color: pink;
}

@keyframes tapper{
    from {
        width: 0ch;
    }

}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}