*{

   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
}

body{
    background-color: black;
    position: relative;

}



/*header*/
header{
    display: flex;
    justify-content: space-between;
    margin-right: 69px;
    
}

.barre li {
    list-style: none;
    padding: 41px;
    
}
.barre li a{
    color: white;
    text-decoration: none;
}
.barre a li:hover{
    text-decoration: underline;
    color:#F275A7; 
}

.barre{

    display: flex;
    margin-left: 58em;
}

.logo{

    width: 202px;
    height: 84px;
    margin: 29px;
}

div.bar{

    display: flex;
}
/*header*/  


/*header's button*/
button{

    background-color: #F275A7;
    padding: 11px;
    width: 115px;
    margin-top: -9px;
    font-family: bold;
    display: block;
}
.button :hover{

    color: #ffffff;
}
.button li{

    list-style: none;
    padding: 41px;
}

/*header's button*/




/*second navigation barre*/
.lapimg{
    margin-left: 144px;
    width: 1546px;
    
}

h3{
    color: #F275A7;
    font-size: 40px;
    margin-left: 218px;
}

h1{
    margin-left: 218px; 
    font-size: 80px;
    color: white;
}

h5{
    margin-left: 218px;
    font-size: 21px;
    color: white;
    margin-top: 10px;
}

/*second navigation barre*/




/*side barre*/
.sidebarre{
    width: 33px;
    height: 100px;
    background-color: #F275A7; 
    position: fixed;
    top: 50%;
    
}

.twitter{
    margin-left: 9px;
    width: 19px;
    margin-top:2px ;
    margin-bottom: 2px;
}

.facebook{
    margin-left: 9px;
    width: 19px; 
}
.instagram{
   width: 25px;
   margin-left: 6px;
   margin-top: 9px;
}

/*side barre*/


/*about me*/
.barre a {

      color: white;
      text-decoration: none;
}
#firstpart{

    display: flex;
    flex-direction: row;
}

.aboutme{
    font-size: 35px;
    margin-top: 123px;
}
p{
    color:white;
    margin-left: 218px; 
    margin-top: 10px;
}

.maphoto{

    width: 731px;
    margin-top: 146px;
    margin-left: 313px;
}
/*about me*/



/*skills*/
#skills{
    font-size: 35px;
    margin-top: 123px;
}


/*skills*/




/*Cards*/
.cards{
    border-color: white;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 131px;
    align-items: center;
}


.clicker {
    width: 307px;
    height: 190px;
    color: rgb(242, 117, 167);
    outline: none;
    cursor: pointer;
    font-size: 149px;
    padding: 2px;
    }

    .clicker:hover{
        color: #F89CC1;
        border: none;
    }
    
    
    .hiddendiv{
        display:none;
        height:200px;
        color: #f8f8f8;
        font-size: 20px;
    }

    .clicker:focus + .hiddendiv{
        display: flex;
        flex-direction: column;
        
    }

/*Cards*/



/*progress  barres*/
.progressbarre{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.progress{
    color: black;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

  .title {
      width: 300px;
      height: 60px;
      background-color: pink;
  }

  .containerbarres{

    width: 40%;
    margin-top: 4%;
    

  }
  .html{
      border: 2px solid pink;
      height: 36px;
      border-radius: 5px;
      background-color:white;
  }
  .htmlbar {
      background: pink;
      height: 32px;
      width: 40%;
      padding-left: 10em;
      padding-top: 8px;
      font-weight: bolder;
      border-radius: 5px 7px 7px 5px;

  }




  .css{
    border: 2px solid pink;
    height: 36px;
    border-radius: 5px;
    background-color:white;
    margin-top: 3%;
}
.cssbar {
    background: pink;
    height: 32px;
    width: 36%;
    padding-left: 10em;
    padding-top: 8px;
    font-weight: bolder;
    border-radius: 5px 7px 7px 5px;

}
 



.design{
    border: 2px solid pink;
    height: 36px;
    border-radius: 5px;
    background-color:white;
    margin-top: 3%;
}
.designbar {
    background: pink;
    height: 32px;
    width: 60%;
    padding-left: 10em;
    padding-top: 8px;
    font-weight: bolder;
    border-radius: 5px 7px 7px 5px;

}

  
     
/*progress  barres*/


/*project*/
  .project h1{
    font-size: 35px;
    margin-top: 123px;  
    
  }
  #projects h1 {
      
      margin-bottom: 5%;
      margin-top: 3%;
  }

/*project*/


/*Gif ection*/
.container{
     display:grid;
     grid-template-columns: repeat( 2 , 1fr);
     grid-template-rows: repeat( 2 , 1fr);
     gap: 10% ;
     width: 50%;
     margin-left: 28%;
     height: 446px;
}

.gif { 
    width: 200px;
}
.gif2 { 
    width: 200px;
}
.gif3 { 
    width: 200px;
}
.gif4 { 
    width: 200px;
}
/*Gif ection*/


/*footer*/
    footer{
        background-color: #BC789A;
        margin-top: 20%;
        padding-top: 11px;
        align-content: center;
    }
    footer p{
        color: rgb(10, 6, 6 ,6);
        margin-left: 48%;
    }

    .copyright{
        width: 20px;
    }
/*footer*/

img.burger{
    color: pink;
}











@media(max-width: 768px) { /*Tablette*/

    #skills{
        font-size: 87px;
        margin-top: 123px;
        width: 92%;
    }

    .aboutme {
        font-size: 106px;
    }
    .sidebarre{
        width: 53px;
        height: 178px;
    }
    .barre li a{

        font-size: 30px;
    }
    .progress{
        padding-top: 14px;
        font-size: 25px;
    }
    
    .progressbarre{
        width:106em;
    }
    .projects{
        font-size: 87px;
        margin-top: 40px;
        margin-left: 30%;
    }

    .clicker {
        font-size: 103px;
        width: 341px;
        margin-left: 38%;
    }
    .container{
        width: 111%;
        margin-left: 48%;
        gap: 39%;
    }
    .instagram{
        width: 47px;
    }
    .twitter{
        width: 37px;
    }
    .facebook{
        width: 47px;
    }
    p{
        margin-top: 42px;
        font-size: 192%;
    }
    footer{

        width: 169vh;
    }


    }

    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { /*for phone*/
    
    
        img{
            margin-left: -28px;
        }
    
        .barre li{
    
            display: none;
        }
         
        h1{
            font-size: 168px;
        }
    
        h5{
            
            font-size: 48px;
            font-size: 47px;
        }
        .logo{
            width: 275px;
            height: 138px;
        }
    
        .tapper {
            font-size: 85px;
        }
    
        p {
            font-size: 35px;
        }
        .button{
            display: none;
        }
        
    
        .skills{
            font-size: 87px;
        }
        
        
        .cards{
    
            display: block;
        }
        .card{
            display: flex;
            flex-direction: row;
        }
        .hiddendiv{
            margin-left: 20px;
            font-size: 40px;
            height: 20px;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65em;
            
        }
        .progressbarre {
            width: 100em;
        }
        p{
             
                font-size: 44px;
                width: 200%;
            
        }
        .aboutme{
            font-size: 96px;
            width: 110%;
        }
    
        .instagram{
            width: 47px;
        }
        .twitter{
            width: 47px;
        }
        .facebook{
            width: 47px;
        }
        .sidebarre {
            width: 62px;
            height: 185px;
        }
        .lapimg{
            margin-left: 0;
        }
        footer {
            margin-top: 55em;
            width: 190vh;
        }
    }




.tapper{
    width: 14.5ch;
    overflow: hidden;
    white-space: nowrap;
    animation: tapper 3s steps(35), blink .5s infinite;
    border-right: 3px solid;
    border-color: pink;
}

@keyframes tapper{
    from {
        width: 0ch;
    }

}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}