*{

   padding: 0%;
   margin: 0%;
   box-sizing: border-box;

}

body{
    background-color: black;
}


/*header*/
header{
    display: flex;
    justify-content: space-between;
    margin-right: 69px;
}

.barre li {
    list-style: none;
    padding: 41px;
    
}
.barre li a{
    color: white;
    text-decoration: none;
}
.barre li a:hover{
    text-decoration: underline;
    color:#F275A7; 
}

.barre{

    display: flex;
    margin-left: 58em;
}

.logo{

    width: 202px;
    height: 84px;
    margin: 29px;
}

div.bar{

    display: flex;
}
/*header*/  


/*header's button*/
button{

    background-color: #F275A7;
    padding: 11px;
    width: 115px;
    margin-top: -9px;
    font-family: bold;
}
.button :hover{

    color: #ffffff;
}
.button li{

    list-style: none;
    padding: 41px;
}

/*header's button*/




/*second navigation barre*/
img{
    margin-left: 144px;
    width: 1546px;
}

h3{
    color: #F275A7;
    font-size: 40px;
    margin-left: 218px;
}

h1{
    margin-left: 218px; 
    font-size: 80px;
    color: white;
}

h5{
    margin-left: 218px;
    font-size: 21px;
    color: white;
    margin-top: 10px;
}

/*second navigation barre*/




/*side barre*/
.sidebarre{
    width: 33px;
    height: 100px;
    background-color: #F275A7; 
}

.twitter{
    margin-left: 9px;
    width: 19px;
    margin-top:2px ;
    margin-bottom: 2px;
}

.facebook{
    margin-left: 9px;
    width: 19px;
}
.instagram{
   width: 25px;
   margin-left: 6px;
   margin-top: 9px;
}

/*side barre*/


/*about me*/
.firstpart{

    display: flex;
    flex-direction: row;
}
.aboutme{
    font-size: 35px;
    margin-top: 123px;
}
p{
    color:white;
    margin-left: 218px; 
    margin-top: 10px;
}

.maphoto{

    width: 731px;
    margin-top: 146px;
    margin-left: 313px;
}
/*about me*/



/*skills*/

.skills{
    
    font-size: 35px;
    margin-top: 123px;
}

/*skills*/






@media(MAX-width: 375px) { /*for phone*/
    
    
    img{
        margin-left: -28px;
    }

    .barre li{

        display: none;
    }
     
    h1{
        font-size: 168px;
    }

    h5{
        
        font-size: 48px;
        font-size: 47px;
    }
    .logo{
        width: 275px;
        height: 138px;
    }

    .aboutme {
        font-size: 87px;
    }

    .maphoto{
        width: 514px;
    }
    p {
        font-size: 35px;
    }
    .button{
        display: none;
    }
    

    .skills{
        font-size: 87px;
    }
}




@media(MAX-width: 768px) { /*Tablette*/

    .skills{
        font-size: 87px;
    }

    .aboutme {
        font-size: 87px;
    }

    .barre li a{

        font-size: 30px;
    }

    



}
