*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    margin-left: 10px;

}
.nav{ 
    font-weight: bold;
    list-style: none;
    display: flex;


}
.nav li{

    margin: 27px;
}
 .nav a:hover{
    cursor: pointer;
    text-decoration:underline;
}

.nav2{
    margin-top: 30px;
    margin-left: 1px;

}
.nav2 ul{
    list-style: none;
    display: flex;
    font-weight: bold;

}



.nav2   a{
    padding: 9px 20px;
    margin-right: 9px;
    text-decoration: none;
    color: black;

}
 .nav2 a:hover{
    text-decoration: underline;
}
.txt{
 
    padding: 2px;
    display: inline;

}






.titre{
margin-left: 15px;
margin-bottom: 16px;

}
.int{
margin-right: 50%;
margin-left: 20px;
}





.content{
width: 100%;
display: flex;
justify-content: space-around;
flex-flow: row wrap;



}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    border: 1px Black solid;
    font-family: sans-serif;
    padding: 16px;
    margin: 9px;
    align-items: flex-start;
}
.img-1{

    width: 17vw;
    height: 60vh;
}

.titre1{
font-size: 25px;
margin-top: 20px;
margin-bottom: 20px;

}

.parag1{
    color: grey;
    margin-bottom: 5px;
}
.card span{
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 5px;
}
.parag2{
    margin-bottom: 5px;
}
.SP{
    color: green;

}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex-flow: row wrap;
   
}
.nav{ 
    font-weight: bold;
    list-style: none;
    display: flex;
  

}
.nav li{
   
    margin: 27px;
}
 .nav a:hover{
    cursor: pointer;
    text-decoration:underline;
}

.nav2{
    margin-top: 30px;
    margin-left: 1px;
    
}
.nav2 ul{
    list-style: none;
    display: flex;
    font-weight: bold;
    
}



.nav2   a{
    padding: 9px 20px;
    margin-right: 9px;
    text-decoration: none;
    color: black;

}
 .nav2 a:hover{
    text-decoration: underline;
}
.txt{
 
    padding: 2px;
    display: inline;

}
.titre{
margin-left: 15px;
margin-bottom: 16px;

}
.int{
margin-right: 50%;
margin-left: 20px;
}





.content{
width: 100%;
display: flex;
justify-content: space-around;
flex-flow: row wrap;



}
.card{
    display: flex;
    flex-direction: column;
    height: 70vh;
    border: 1px Black solid;
    font-family: sans-serif;
    padding: 16px;
    margin: 9px;
    align-items: flex-start;
}
.img-1{
    
    width: 17vw;
    height: 60vh;
}

.titre1{
font-size: 25px;
margin-top: 20px;
margin-bottom: 20px;

}

.parag1{
    color: grey;
    margin-bottom: 5px;
}
.card span{
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 5px;
}
.parag2{
    margin-bottom: 5px;
}
.SP{
    color: green;
    
}
