*{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
 
 }
 
 body{
     
    background-color: black;
 }
 
 
 /*header*/
 header{
     display: flex;
     justify-content: space-between;
     margin-right: 69px;
 }
 
 .barre li {
     list-style: none;
     padding: 54px;

 }
 .barre li a{
     color: white;
     text-decoration: none;
 }
 .barre li a:hover{
     text-decoration: underline;
     color:#F275A7; 
 }
 
 .barre{
 
     display: flex;
     margin-left: 58em;
 }
 
 .logo{
 
     width: 202px;
     height: 84px;
     margin: 29px;
 }
 
 div.bar{
 
     display: flex;
 }
 /*header*/  
 


/*label*/
 .container{

    margin-left: 835px;
    
 }
 .name{

    padding: 12px;
    margin-top: 19px;
    width: 423px;

 }
 .sujet {
    padding: 20px;
    margin-top: 20px;
    width: 423px;
}
.message {
    padding: 80px;
    margin-top: 20px;
    width: 423px;
}

/*label*/

/*button*/
   button{
    border-radius: 20px;
    background-color: #F275A7;
    width: 129px;
    margin-left: 147px;
    margin-top: 10px;
    font-family: black;
    height: 31px;
   }

   button:hover{

    color: white;
   }
/*button*/



 /*titre*/

 h1{

    color: #F275A7;
    margin: 134px 11px 13px 915px;
    font-size: 47px;
 }

 /*titre*/


 /*footer*/
     footer{
         background-color: #BC789A;
         position: absolute;
         bottom: 0;
         width: 100%;

     }
     p{
        margin-left: 50%;
     }
